iframe {
  margin: auto;
  width: 30%;
  height: 50%;
  border: 3px solid #73AD21;
  padding: 10px;
  display: block;
}

.main-video {
  width: 70%;
  height: 400px;
  margin: 0 auto;
  display: block;
}

.thumbnails {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.thumbnails video {
  width: 150px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.3s;
}

.thumbnails video:hover {
  border: 2px solid blue;
}

.video-thumb {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.video-thumb:hover {
  transform: scale(1.05);
}

.main-video {
  width: 100%;
  max-height: 450px;
}

.logo {
  width: auto;
  height: auto;
}

.nav-link {
  font-size: 1.3em;
}

.buttons-container {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.btn {
  font-size: 1.4em;
}

.btn-color {
  background-color: #1a3d44;
  color: white;

}

.btn-color:hover {
  background-color: #1a3d44;
  color: white;
  opacity: 0.65;
}
.toggle {
  background-color: #6C757D;
  color: white;
}
.toggle:hover {
  opacity: .45;
}

.cardComment {
  background-color: #3b434e;
  border: whitesmoke 2px;
}

#mainTitle {
  font-size: 50px;
}

#commentList {
  list-style: none;

}

#commentsTitle {
  color: whitesmoke;
  text-decoration: underline;
}

li {
  font-size: 1.1rem;
}

#qrLabel {
  color: #1a3d44;
  text-decoration: solid;
  font-size: 4rem;
}



